.heroes {
    
    h2 {
        font-size: 20px;
    }

    li {
        margin: 10px 0;

        a {
            display: flex;
            align-items: center;

            color: inherit;
            background: #ebebeb;
            box-shadow: 0 0 2px rgba($color: #ebebeb, $alpha: 1.0);

            transition: all .2s ease-in-out;
        }

        a:hover {
            color: #ffffff;
            background: #bebebe;
            box-shadow: 0 0 2px rgba($color: #bebebe, $alpha: 1.0);
    
            cursor: pointer;
    
            span {
                color: #333333;
                background: #ebebeb;
                box-shadow: 0 0 2px rgba($color: #ebebeb, $alpha: 1.0);
            }
        }

        span {
            margin-right: 10px;
            padding: 10px;

            background: #bebebe;
            box-shadow: 0 0 2px rgba($color: #bebebe, $alpha: 1.0);

            transition: all .2s ease-in-out;
        }
    }

   
}



